@model EStoreApp.Web.Models.ViewModels.ProductDetailsViewModel

<div class="card col-md-3 col-sm-10">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Category: @Model.Category</p>
        <p class="card-text">Product price: @Model.Price</p>
        @if (Model.IsOnPromotion)
        {
            <p><strong>This product is on promotion</strong></p>
        }
        <a href="" class="btn btn-info">Add to Cart</a>
        <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
    </div>
</div>