
<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> @ViewBag.Product.Name</h5>
                <p class="card-text">Category: @ViewBag.Product.Category</p>
                <p class="card-text">@ViewBag.Product.Category price: $@ViewBag.Product.Price</p>
                <p class="card-text">Description: @ViewBag.Product.Description</p>
                <a href="" class="btn btn-info">Add to Cart</a>
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
</div>
